@model IEnumerable<CitizenData.Web.Models.User>

@{
    ViewData["Title"] = "Index";
}

<div class="row mb-3">
    <div class="col-md-6">
        <h3>Citizen Records</h3>
    </div>
    <div class="col-md-6 text-right">
        <a class="btn btn-primary" asp-action="Create">Register Citizen</a>
    </div>
</div>


@if (TempData["Message"] != null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" id="bootstrap-alert">
                @TempData["Message"]
            </div>
        </div>
    </div>
}


<div id="assetsTable">
<table class="table">
    <thead>
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GivenName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <div>
                    <a asp-controller="Users" asp-action="Details" asp-route-id="@item.Id">
                        <img src="@item.ImageUrl" class="imageCell" />
                    </a>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GivenName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-user-times"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>
</div>